*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: rgb(254, 250, 228);
    --clr-secondary: rgb(138, 156, 203);
    --clr-primary-2: rgb(191, 184, 166);
    --clr-secundary-2: rgb(36, 54, 108);
    --foreground: var(--clr-secondary);
    --background: var(--clr-primary);
    --ff-title: "Libre Bodoni", serif;
    --ff-body: "Gloria Hallelujah", sans-serif;
}

body {
    margin: 0;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    font-family: var(--ff-body);
    line-height: 1.6;
}

h1, h2 {
    font-family: var(--ff-title);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

a {
    text-decoration: none !important;
    color: var(--clr-secondary);
    transition: 1s;
}


/* _________________________ */
/* TEXTO */
.fs-1 {
    font-size: 6rem !important;
}

.fs-2 {
    font-size: 5rem !important;
}

.fs-3 {
    font-size: 4rem !important;
}

.fs-4 {
    font-size: 2.5rem !important;
}

.fs-5 {
    font-size: 2rem !important;
}

p, a {
    font-family: var(--ff-body);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* _________________________ */
/* BOTONES GENERALES */
.btn-rrss, .btn-gastronomia, .btn-lugar-revista {
    background-color: var(--clr-primary-2)!important;
    font-family: var(--ff-title) !important;
    border-style: none;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0 !important;
}

.btn-gastronomia, .btn-rrss {
    width: 100%;
}
.btn-lugar-revista {
    width: 50%;
    align-items: center;
}

.btn-gastronomia:hover,.btn-lugar-revista:hover {
    background-color: var(--clr-secondary)!important;
}

/* _________________________ */
/* INDEX.HTML */
/* HEADER */
.header-container-fluid {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title_container {
    top: 50%;
    color: var(--clr-primary);
    font-family: var(--ff-title);
}
.line1,.line2 {
    display: block;
    line-height: 1;

}
.line2 {
    margin-left: 9rem; 
} 

/* TYPE JS Y BOTÓN */
.type-container {
    position: absolute;
    top: 62%;
    left: 50%; 
    transform: translateX(-50%);
}
.typejs  {
    color:var(--clr-primary);
    font-family: var(--ff-body);
} 

#element button:hover{
    background-color: var(--clr-secundary-2)!important;
}


/* _________________________ */
/* MENU BAR */
.mi-color-fondo {
    background-color: var(--clr-secondary)!important;
}

.navbar-toggler {
    border-color: var(--clr-secundary-2);
} 

 .navbar,.navbar-toggler {
    color: var(--clr-primary);
} 

.navbar-brand, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-family: var(--ff-title);
    color: var(--clr-primary); 
    margin:0 !important;
    padding:0 !important;
}

.navbar-brand:hover,.navbar .fa-cart-shopping:hover, .fa-bars:hover {
    color: var(--clr-secundary-2); 
}

.nav-link.active:hover {
    color: var(--clr-secundary-2); 
}

.container-fluid.menu, .navbar {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.fa-cart-shopping {
    margin-right:  3rem;
}


/* _________________________ */
/* LAS GATAS */
.lasgatas {
    font-family: var(--ff-title);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.modal {
    background-color: var(--clr-primary);
}

.modal-dialog {
    width: 80vh;
}

.modal-content {
    border-style: none;
}

.modal.show > .modal-dialog {
    border-style: none;
}

.modal-body {
    border-style: none;
}


/* _________________________ */
/* GASTRONOMÍA */
.cardgastronomia > div > div > div > div > div {
    width: 100%;
}
.cardgastronomia > div > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div > div {
    padding-left: 1em;
    padding-right: 1em;
}

.modal {
    background-color: rgb(254 250 228 / 80%);
}

.modal-content {
    border-radius: 1em;
    background-color: var(--clr-secondary);
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
}

.modal-backdrop.show {
    opacity: 0 !important;
}

.modal > div > div > h2 {
    color: var(--clr-primary);
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
}

.modal > div > div > img {
    width: 50%;
}

.modal > div > div > p {
    color: var(--clr-primary);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 1.2rem;
    text-align: left;
}

.modal > div > div > a {
    background-color: var(--clr-primary-2)!important;
    font-family: var(--ff-title) !important;
    border-style: none;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0 !important;
    width: 50%;
    font-size: 1.5rem;
    margin-top: 0.5rem !important;
}

.modal > div > div > a:hover {
    background-color: var(--clr-primary)!important;
    color: var(--clr-secondary)!important;
}


/* CAROUSEL*/
.carousel-item > img {
    height: 65vh;
    max-width: fit-content;
    padding-bottom: 3em !important;
}

.carousel-indicators [data-bs-target] {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color:var(--clr-secondary) !important;
}

.las4chulapasbtn > a {
    width: 25%;
}


/* _________________________ */
/* ARTE y OCIO*/
.texto_arte, .texto_ocio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skip-line {
    display: inline;
}

.texto_arte > p, .texto_ocio > p {
    width: 50%;
}

.arte-container-fluid,.ocio-container-fluid,.revista-container-fluid,.accordion {
    width: 85% !important;  
    margin: 0 auto; 
}

/* _________________________ */
/* VIDEOBLOGS */
.videoblogs {
    display: flex;
    flex-direction: column !important;
}

.videoblogs > iframe {
    width: 73%;
    height: 70vh;
    border-radius: 3em;
    margin-bottom: 3rem;
}

.videoblogs > a {
    background-color: var(--clr-primary-2)!important;
    font-family: var(--ff-title) !important;
    font-size: 2rem;
    border-style: none;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0 !important;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoblogs > a:hover {
    background-color: var(--clr-secondary)!important;
}

.intro {
    height: 80vh;
    padding: 10rem 0;
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
    background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
    align-content: center;
}

.intro > * {
    grid-column: 2/3;
}


/* _________________________ */
/* REVISTAS */
.accordion{
    --bs-accordion-btn-bg:var(--clr-secundary-2);
    --bs-accordion-active-bg:var(--clr-secondary);
    --bs-accordion-active-color: var(--clr-primary);
    --bs-accordion-btn-focus-boxs-shadow:none;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FEFAE4' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FEFAE4' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion-header {
    margin-top: 0 !important;
}

.accordion-item {
    background-color: var(--clr-secundary-2)!important;
}


/* _________________________ */
/* LUGARES */
/* GRID MASON */
.grid-wrapper > div > img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-format {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 4rem;
}

.grid-wrapper {
    padding: 1rem 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}


/* _________________________ */
/* FOOTER */
footer {
    background-color: var(--clr-secondary);  
    color: var(--clr-primary);
    font-family: var(--ff-title);
    padding: 1.5rem;
}

footer h3, footer p {
    font-family: var(--ff-title);
    margin-top: 1.5rem;
}

footer a {
    color: var(--clr-primary);
    text-decoration: none;
    display: block;
    font-family: var(--ff-title);
}

footer a, footer p {
    margin: 0.5rem;
}

.footer-container > div {
    margin-right: 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icons > ul > li {
    display: inline;
}

footer a:hover,.social-icons:hover {
    color: var(--clr-secundary-2); 
}

/* _________________________ */
/* MEDIA QUERIES */
@media (max-width: 1600px) {
    /* BOTONES GENERALES */
    .btn-rrss, .btn-gastronomia, .btn-lugar-revista {
        font-size: 1.5rem !important;
    }

    .btn-gastronomia.header {
        font-size: 1.5rem !important;
    }

    /* HEADER */
    .line1,.line2 {
        font-size: 5rem !important;
    }

    .line2 {
    margin-left: 6rem;
    }

    .typejs {
        font-size: 1.5rem !important;
    }

    /* LAS GATAS */
    .container-fluid > div > div > a > p {
        font-size: 2em !important;
    }

    /* VIDEOBLOGS */
    .videoblogs > iframe {
        height: 60vh;
    }

    /* ACTIVIDADES */
    .mb-5 {
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 1400px) {
    /* TEXTO */
    .line1,.line2,.fs-2 {
        font-size: 4rem !important;
    }

    .fs-3 {
        font-size: 3.5rem !important;
    }

    /* FOOTER */

    footer h3.fs-4 {
        font-size: 1.8rem !important;
    }

    footer p, footer a  {
        font-size: 1.5rem ;
    }
}

@media (max-width: 1200px) {
    /* BOTONES GENERALES */
    .btn-rrss, .btn-gastronomia, .btn-lugar-revista {
        font-size: 1.2rem !important;
    
    }
    .accordion-button {
        font-size: 1.5rem !important;
    }
    
    /* TEXTO */
    .line1,.line2, .fs-2 {
        font-size: 4rem !important;
    }

    .fs-3 {
        font-size: 2.5rem !important; 
    }
    
     /* HEADER */
     
    .line2 {
        margin-left: 5rem; 
    } 
    .typejs {
        font-size: 1.5rem !important;
    }
    .type-container {
        top: 60%;
        
    }
    
    /* MENU */
    .fa-3x {
        font-size:2.5rem !important;
    }

    .nav-link.active {
        font-size: 2rem !important;
    } 
}

@media (max-width: 1098px) {
    /* GRID MASON */
    .grid-wrapper > .full-row {
        grid-column: 1 / -1;
    }

    .grid-wrapper > .full-row-tall {
        grid-column: 1 / -1; 
        grid-row: span 2;   
    } 

}

@media (max-width: 1100px){
    .type-container {
        top: 63%;
    }
}

@media (max-width: 1000px) {
    /* BOTONES GENERALES */
    .btn-rrss, .btn-gastronomia, .btn-lugar-revista {
        font-size: 1rem !important;
    }

    /* TEXTO */
    .fs-2 {
        font-size: 3rem !important;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .fs-3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    h1, h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }


    .texto_arte > p, .texto_ocio > p {
        width: 60%;
    }

    /* LAS GATAS */
    .px-4 {
        padding-right: 0.4rem !important;
        padding-left: 0.5rem !important;
    }

    .container-fluid > div > div > a > p {
        font-size: 1.5rem !important;
    }

    /* VIDEOBLOGS */
    .videoblogs > iframe {
        height: 40vh;
        border-radius: 2rem;
    }

    .videoblogs > a {
        font-size: 1.5rem;
        width: 70%;
    }

    /* CARD */
    .modal > div > div > p {
        font-size: 1rem;
    }

    /* GRID MASON */
    .grid-wrapper > .full-row-tall {
        grid-column: 1 / -1; 
        grid-row: span 2;    
    }

    /* CAROUSEL */
    .carousel-item > img {
        height: 40vh;
        max-width: fit-content;
        padding-bottom: 3em !important;
    }

    /* FOOTER */
    footer h3.fs-4 {
        font-size: 1.5rem !important;
    }

    footer p, footer a {
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    /* BOTONES GENERALES*/
    .btn-rrss, .btn-gastronomia, .btn-lugar-revista {
        font-size: 1rem !important;
    }

    .btn-gastronomia.header {
        font-size: 1.2rem !important;
    }

    /* TEXTO */
    .line1, .line2 {
        font-size: 4rem !important ;
    }
        
   .fs-2 {
        font-size: 3rem !important;
    }

    .fs-3 {
        font-size: 2.2rem !important;
    }

    /* MENU */
    .nav-link.active {
        font-size: 1.2rem !important;
    }

    .navbar-toggler {
        margin-left: 2rem;
    }

    .fa-bars,
    .fa-cart-shopping{
        font-size:2rem !important;
    }

    /* GRID MASON */
    .grid-wrapper > div {
        grid-column: span 2;
        grid-row: span 2;
    }

    .hidden {
        display: none !important;
    }

    /* CARD */
    .modal > div > div > p {
        font-size: 1rem;
    }

    /* FOOTER */
     footer h3.fs-4 {
        font-size: 1.2rem !important;
    }

    footer p, footer a {
        font-size: 1rem;  
    } 
}
@media (max-width: 767px){
    .special-animation[data-aos="fade-right"]  {
        animation-name: fade-left;
    }
}

@media (max-width: 600px) {
    /* HEADER */
    .line1, .line2 {
        font-size: 3rem !important ;
    }

    .line2 {
        margin-left: 4rem;
    }
    
    .type-container {
        top: 58%;
        
    }

    .typejs {
        font-size: 1rem !important;
    }

    /* MENU */
    .fa-3x {
        font-size:1.5rem !important;
    }

    /* LAS GATAS */
    .container-fluid {
        padding: 1rem !important;
    }

    .px-4 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    /* TEXTOS */
    h1, h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .accordion-button {
        font-size: 1.2rem !important;
    }

    .skip-line {
        display: block;
    }

    /* CARD */
    .modal > div > div > a {
        font-size: 1.1rem;
        width: 70%;
    }

    .modal > div > div > img {
        width: 70%;
    }
}

@media (max-width: 576px) {
    /* HEADER */
    .btn-gastronomia.header {
        font-size: 1rem !important;
    }
    
    .title_container {
        top: 49%;
    }
    /* CARD */
    .modal-dialog {
        width: 70%;
        margin-left: 15%;
    }

    .modal > div > div > p {
        font-size: 0.8rem;
    }

    /* TEXTO */
    .texto_arte > p, .texto_ocio > p {
        width: 70%;
    }

    /* VIDEOBLOGS */
    .videoblogs > iframe {
        height: 30vh;
    }

    .videoblogs > a {
        font-size: 1.3rem;
    } 

    /* CAROUSEL */
    .carousel-item > img {
        height: 30vh;
        max-width: fit-content;
        padding-bottom: 3em !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 20px !important;
        height: 20px !important;
    }

    .las4chulapasbtn > a {
        width: 45%;
    }

    /* REVISTA */
    .accordion-button {
        font-size: 1rem !important;
    }
    .accordion-body p {
        font-size: 0.5rem !important;
        margin:0;
    }
}

@media (max-width: 450px) {
    /* BOTONES GENERALES */
    .btn-gastronomia.header {
        font-size: 0.8rem !important;
    }
    
    /* TEXTO */
    .line1,.line2 {
        font-size: 2.5rem !important;
    }
    .fs-2 {
        font-size: 2rem !important;
    }

    .fs-3 {
        font-size: 1.8rem !important;
    } 

    /* HEADER */
    .type-container {
        top: 56%;
    }

    .typejs {
        font-size: 0.8rem !important;
    }

    .line2 {
        margin-left: 3.5rem;
    }

    /* MENU */
    .fa-bars,
    .fa-cart-shopping {
        font-size:1,5rem !important;
    }

    .navbar-toggler {
        font-size:0.5rem !important;
    }
}

@media (max-width: 400px) {
    /* HEADER */
    .type-container {
        top: 58%;
    }

    .typejs {
        font-size: 0.7rem !important;
    }
}

@media (max-width: 350px) {
    /* TEXTO */
    .texto_arte > p, .texto_ocio > p {
        width: 85%;
    }
}

@media (max-width: 344px) {
    .navbar-toggler {
        margin-left: 1rem;
    }

    .fa-cart-shopping {
        margin-right: 1.8rem;
    }
} 